[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "INDEED"]
	path = INDEED
	url = https://github.com/ressomlab/indeed
[submodule "MetID"]
	path = MetID
	url = https://github.com/ressomlab/metid
